header {
  display: flex;
  justify-content: space-around;
  background: #1c1c1c;

  #header-icon {
    width: 200px;
  }

  #header-title {
    background: rgb(145, 0, 255);
    background: linear-gradient(
      90deg,
      rgba(145, 0, 255, 1) 0%,
      rgba(9, 9, 121, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    text-align: center;
  }
}
